.block {
    position: relative;
    background: linear-gradient(152.78deg, #1C274A 0%, #040711 100%);
    border-radius:0px 0px 64px 64px;
    margin-top: -60px;
    z-index: 7;
    padding-top: 100px;
}