.menu {
    &__icon{
        width: 15px;
        height: auto;
    }
    &__ul {
        width: 608px;
        background-color: #FCFCFC;
        border-radius: 100px;
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        &__item{
            color: rgb(0, 0, 0, 0.5);
            padding: 16px 0px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            font-weight: bold;
            gap: 3px;
            &:hover{
                color: #145CEF;
            }
        }
        
    }
}
.submenu {
    display: none;
    position: absolute;
    background-color: #FCFCFC;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
    border-radius: 0px 0px 6px 6px;
    margin-top: 124px;
    &__item{
        padding: 10px;
        border-radius: 0px 0px 4px 4px;
        &:hover {
            background-color:  #145CEF;
            color: #FCFCFC;
        }
    }
}
.menu__ul__item:hover .submenu {
    display: block;
}