.chat {
    background-color: #FCFCFC;
    padding: 8px 9px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 10;
    &__button__first{
        color: #145CEF;
        background-color: #D5E2FC;
        padding: 10px 32px,;
        border-radius: 50px;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }
    &__button__second{
        background-color: #145CEF;
        padding: 10px 32px;
        border-radius: 50px;
        color: #FCFCFC;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        &:hover{
            cursor: pointer;
        }
        &__icon{
            width: 13px;
            height: 13px;
            color: #FCFCFC;
        }
    }
}